*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body{
    min-height: 100vh;
    background-color: #023e8a;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculadora{
    background-color: #0077b6;
    color: white;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 350px;
    max-width: 100%;
    padding: 1.5rem;
    gap: 0.5rem;
    border-radius: 2rem;
}
.pantalla{
    grid-column: 1/ -1;
    background-color: #023e8a ;
    padding: 1.5rem;
    font-size: 2rem;
    border-radius: 2rem;
    margin-bottom: 0.5rem;
    text-align: right;
    font-weight: 600;
}
.btn{
    background-color:#0077b6 ;
    border: 0;
    padding: .5rem .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
}
.btn:hover{
    background-color: #023e8a;
    border-radius: 0.5rem;
}
#cero{
    grid-column: span 2;
}
#igual {
    grid-row: span 2;
    background-color: #d62828;
    border-radius: 0.5rem;
}
#igual:hover{
    background-color: #e63946;
}
@media only screen and (max-width: 576px){
    .calculadora{
        width: 250px;
    }
}